@charset "utf=8";

#clockContainer{
    position: relative;
    height: 46vw;
    width: 46vw;
    background-image:
            linear-gradient(45deg,
              rgba(245,70,66, 0.5),
              rgba(8,83,156, 0.5)), url(
'./clock.jpg');
    /* background-image: linear-gradient(45deg, rgba(37, 19, 134, 0.3), rgba(37, 19, 134, 0.3)) , url('clock.jpg')  no-repeat; */
    background-size: 93%;
    background-position: center;
    margin: auto;
    background-repeat: no-repeat;
    border-radius: 10%;
    border: 10px solid #000;
    background-color: rgba(192, 24, 18, 0.5);
    

}

#hour, #minute, #second{
    position: absolute;
    /* background: black ; */
    border-radius: 10px;
    transform-origin: bottom;
}
#center{
    background-color: #000;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 47.5%;
    left: 47.3%;
    border-radius: 50%;
}

#hour{
    height: 17.5%;
    width: 2.5%;
    top: 33%;
    left: 48.8%;
    /* opacity: 0.8; */
    background-color: rgb(24, 218, 218);
}
#minute{
    height: 27%;
    width: 2%;
    top: 23.5%;
    left: 49.1%;
    /* opacity: 0.8; */
    background-color: rgb(12, 141, 141);    
}
#second{
    height: 30%;
    width: 1%;
    top: 21%;
    left: 49.5%;
    /* opacity: 0.8; */
    background-color: rgb(197, 15, 15);
}